<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">

    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>

    <link rel="stylesheet" href="assets/style.css">
</head>

<body class="container">
    <div class="row" id="app">
        <h1 class="text-center">Lista di Compiti</h1>
        <p class="text-center">{{messaggioCompiti}}</p>

        <div class="mb-3 d-flex"> 
            <input v-model="nuovoTestoCompito" type="text" class="form-control" placeholder="Quali nuovi piani hai?">
            <button class="btn bg-white border" type="button" @click="aggiungiCompito"><i class="fa-solid fa-square-plus"></i></button>
        </div>
        
        <div class="row" v-if="haCompiti"> 
            <ul class="list-group list-group-flush rounded-3"> 
                <li class="list-group-item d-flex justify-content-between" v-for="(compito, indice) in compiti"
                    :class="{'text-decoration-line-through': compito.completato}"> 
                    <div class="col-10" @click="toggleCompletamentoCompito(indice)">{{compito.testo}}</div>
                    <button type="button" class="btn-close" @click="rimuoviCompito(indice)"></button> 
                </li>
            </ul>
        </div>
    </div>

  



    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="assets/file.js"></script>
</body>
</html>
